{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to my custom home page!</h1>
    <p>This is a custom template for the home page.</p>
    <div id="root"></div>
{% endblock %}  
